.selected-question {
    border: 2px solid gray;
}

.refresh-bar {
    background-color: lightslategray;
    height: 50px;
    box-shadow: 0px 2px 10px darkgray;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.refresh-bar button{
    width: 100vw;
    font-weight: 500;
}

.current-question {
    margin-top: 150px;
}
